body {
  font-size: 20px;
  font-family: 'Open Sans';
}

h1 {
  color: rgb(88, 82, 255);
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(88, 82, 255);
  color: white;
  display: block;
}

#swap {
  margin-top: 2px;
}

#answer {
  width: 25%;
}

#submit {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(88, 82, 255);
  color: white;
}

#cor {
  background-color: #33a349;
  color: white;
  display: inline-block;
  width: 25%;
  text-align: center;
}

#incor {
  background-color: #ba3b32;
  color: white;
  display: inline-block;
  width: 25%;
  text-align: center;
}

#total {
  background-color:#808080;
  color: white;
  display: inline-block;
  width: 25%;
  text-align: center;
}
