body {
  font-size: 20px;
  font-family: 'Open Sans';
}

h1 {
  color: rgb(88, 82, 255);
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(88, 82, 255);
  color: white;
}

#answer {
  width: 25%;
}

#submit {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(88, 82, 255);
  color: white;
}

#cor {
  background-color: rgb(92, 255, 136);
  color: white;
  display: inline-block;
}

#incor {
  background-color: rgb(255, 92, 92);
  color: white;
  display: inline-block;
}
